<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<a th:href="@{/user}">查询所有用户信息</a><br>
<a th:href="@{/user/1}">查询id为1的用户信息</a><br>
<hr>
<form th:action="@{/user}" method="post">
    UserName:<input type="text" name="username"><br>
    PassWord:<input type="password" name="password"><br>
    <input type="submit" value="提交"><br>
</form>
<hr>
<form th:action="@{/user}" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="修改"><br>
</form>
<hr>
<form th:action="@{/user/1}" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="删除"><br>
</form>


</body>
</html>